body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 50px 0;
}
button {
  width: 100%;
  border: 2px solid #3bafaa;
  margin-top: 10px;
  color: #3bafaa;
  padding: 15px 10px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  cursor: pointer;
}
a {
  width: 100%;
  display: block;
  text-decoration: none;
}
h3, p {
  margin: 5px 0;
}
p {
  padding-bottom: 10px;
}

/* Login Styling */
.google-button {
  height: 40px;
  border-width: 0;
  background: white;
  color: #737373;
  white-space: nowrap;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  padding: 0;
  cursor: pointer;
}
.google-button:focus, .google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

/* Dashboard Styling */
.account-list {
  width: 20%;
  height: calc(100vh - 50px);
  overflow: scroll;
}
.account-list ul{
  margin: 0;
  padding: 0 20px;
  list-style: none;
}
.account-list ul li{
  padding: 10px;
  background: #3bafaa;
  margin-bottom: 2px;
  border-left: 5px solid #3bafaa;
  position: relative;
}
.account-list ul li.active{
  border-left: 5px solid #277774;
}
.account-list ul li p{
  margin: 0 0 3px 0;
  color: #fff;
}
.account-list ul li small{
  color: #fff;
}
.add-account {
  margin: 20px 0;
  text-align: right;
}

.account-details {
  width: 80%;
  height: calc(100vh - 50px);
  text-align: center;
}
.account-details .card {
  width: 500px;
  margin: 0 auto;
  background: #fff;
  /*padding: 20px;*/
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.account-details .avatar {
  width: 100%;
}

